@page "/Account/Manage/UserThings"
@inject ISearchThingService SearchThingService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>UserThings</h3>
<p>User ID: @userId</p> 

@if (things == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Upvotes</th>
                <th>App</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thing in things)
            {
                <tr>
                    <td>@thing.Name</td>
                    <td>@thing.Description</td>
                    <td>@thing.CreatedAt.ToString()</td>
                    <td>@thing.Upvotes.ToString()</td>
                    <td>@thing.App.ToString()</td>
                    <td>@thing.Creator.ToString()</td>
                    <td><button class="btn btn-primary" @onclick="@(() => EditThing(thing.Id, thing.App))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    ApplicationUser user = default!;

    List<Thing> things = default!;

    private string? userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        }
    
        things = await SearchThingService.GetThingsByCreator(userId);
    }
    private void EditThing(int id, UsedInApp app)
    {
        NavigationManager.NavigateTo($"/thing/edit/{app}/{id}");
    }
}
