

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (Things == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="dark-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                @* <th scope="col">Upvotes</th>
                <AuthorizeView>
                    <Authorized>
                        <th scope="col">Upvote</th>
                    </Authorized>
                </AuthorizeView> *@

            </tr>
        </thead>
        <tbody class="">
            @foreach (var thing in Things)
            {
                <tr>
                    <td scope="col">@thing.Name</td>
                    <td scope="col">@thing.Description</td>
                    @*<td scope="col">@thing.Upvotes</td>
                     <AuthorizeView>
                        <Authorized>
                            <td><button class="btn btn-info" @onclick="@(() => UpvoteThing(thing.Id, userId))">Vote</button></td>
                        </Authorized>
                    </AuthorizeView> *@
                </tr>
            }
        </tbody>
    </table>
}

@code {
    // for displaying things
    [Parameter]
    public List<Thing> ?Things { get; set; }
    // for upvote functionalities

    @* private async Task UpvoteThing(int thingid, string userid)
    {
        var thing = Things.FirstOrDefault(t => t.Id == thingid);
        if (thing == null) return;

        // nutze helper der ein bool zurückgibt wenn true, thing.Upvotes++ und erstelle ein Upvote Objekt (in einem Helper)
        bool doesExist = await UpvoteService.DoesUpvoteExistAlready(thingid, userid);
        bool successfullProcess = false;
        if (doesExist)
        {
            successfullProcess = await UpvoteService.RemoveUpvote(thingid, userid);
        }
        else
        {
            successfullProcess = await UpvoteService.CreateUpvote(thingid, userid);
        }
    } *@
}
